<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content = "width-device-width , initial-scale=1.0" />
        <title>GHUMMAKKAD: A Tourism Website</title>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/responsive.css"/>
        <link rel ="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <!--<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>-->

    </head>
    <body>
        <!-- header start -->
<header>
    <div class="container">
    <nav>
        <div class="logo">
            <img src="./image/Ghummakkad.png" alt="" />
        </div>
        
        <ul>
            <div class="btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="destination.html">DESTINATIONS</a></li>
            <li><a href="#">REVIEWS</a></li>
            <li><a href="front.html">QUIZ</a></li>
            <li><a href="loginpage.html">SIGNIN</a></li>
        </ul>
   
                
        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
    </nav>
</div>
</header>
        <!-- header end-->

        <!-- showcase start -->
         <main>
            <div class="slider-container swiper">
                <div class="slide-content swiper-wrapper">
                    <div class="overlay swiper-slide">
                        <img src="./image/homepage6.jpeg" />
                        <div class="image-overlay">
                            
                            <p>Let's Begin a Memorable Journey Together </p>
                            <h2><span>Discover</span> The Colors</h2>
                            <h2> Of India</h2>
                        
                        </div>
                    </div>
                    <div class="overlay swiper-slide">
                        <img src="./image/homepage1.jpeg" />
                        <div class="image-overlay">
                            
                            <p>Let's Begin a Memorable Journey Together </p>
                            <h2><span>Discover</span> The Colors</h2>
                            <h2> Of India</h2>
                        
                        </div>
                    </div>
                    <div class="overlay swiper-slide">
                        <img src="./image/homepage2.jpeg" />
                        <div class="image-overlay">
                            
                            <p>Let's Begin a Memorable Journey Together </p>
                            <h2><span>Discover</span> The Colors</h2>
                            <h2> Of India</h2>
                        
                        </div>
                    </div>
                </div>
            </div>
            
         </main>
        <!-- search location start   -->
         <section id ="location-search">
            <div class="container">
                <div class="form-wrapper">
                    <form action = "#">
                        <input type="text" placeholder = "Where To?" class="form-control" />
                        <select class="form-control">
                            <option value="Destination"> Destination</option>
                            <option value="Destination"> </option>
                            <option value="Destination"> Agra</option>
                            <option value="Destination"> Ajmer</option>
                            <option value="Destination"> Alappuzha</option>
                            <option value="Destination"> Amritsar</option>
                            <option value="Destination"> Bangalore</option>
                            <option value="Destination"> Bhopal</option>
                            <option value="Destination"> Bhubaneswar</option>
                            <option value="Destination"> Chandigarh</option>
                            <option value="Destination"> Chennai</option>
                            <option value="Destination"> Chittorgarh</option>
                            <option value="Destination"> Coimbatore</option>
                            <option value="Destination"> Coorg</option>
                            <option value="Destination"> Darjeeling</option>
                            <option value="Destination"> Dehradun</option>
                            <option value="Destination"> Delhi</option>
                            <option value="Destination"> Dharamshala</option>
                            <option value="Destination"> Gangtok</option>
                            <option value="Destination"> Goa</option>
                            <option value="Destination"> Guwahati</option>
                            <option value="Destination"> Gwalior</option>
                            <option value="Destination"> Haridwar</option>
                            <option value="Destination"> Hampi</option>
                            <option value="Destination"> Hyderabad</option>
                            <option value="Destination"> Indore</option>
                            <option value="Destination"> Jaipur</option>
                            <option value="Destination"> Jaisalmer</option>
                            <option value="Destination"> Jodhpur</option>
                            <option value="Destination"> KanchipuramJodhpur</option>
                            <option value="Destination"> Kannur</option>
                            <option value="Destination"> Kanpur</option>
                            <option value="Destination"> Khajuraho</option>
                            <option value="Destination"> Kochi</option>
                            <option value="Destination"> Kodaikanal</option>
                            <option value="Destination"> Kolkata</option>
                            <option value="Destination"> Leh</option>
                            <option value="Destination"> Lucknow</option>
                            <option value="Destination"> Madurai</option>
                            <option value="Destination"> Mahabalipuram</option>
                            <option value="Destination"> Manali</option>
                            <option value="Destination"> Mysore</option>
                            <option value="Destination"> Nashik</option>
                            <option value="Destination"> Pahalgam</option>
                            <option value="Destination"> Pondicherry</option>
                            <option value="Destination"> Pune</option>
                            <option value="Destination"> Rameswaram</option>
                            <option value="Destination"> Shimla</option>
                            <option value="Destination"> Srinagar</option>
                            <option value="Destination"> Udaipur</option>
                        </select>
                        
                        <button type="button" class="primary-btn">Search Now</button>
                    </form>
                </div>
            </div>
         </section>
        <!-- search location end   -->

        <!-- About page start -->
<section id="about" >
    <div class="container">
        <div class="about-content-wrapper">
            <div class="agency-left-side">
                <p class="heading-normal-txt"> THE BEST TOURISM RECOMMENDATION SITE</p>
                <h2 class="headings"> DISCOVER INDIA <span>WITH US</span></h2>
                <P CLASS="lead">
                    Welcome to Ghummakkad, your ultimate travel companion! We are here 
                    to make your journey unforgettable by helping you explore the world, 
                    one adventure at a time.
                </P>
                
               <p class="lead">
                    Unlike traditional travel guides, Ghummakkad takes a personalized approach. 
                    Using a simple questionnaire, we help you discover destinations that match 
                    your style. 
                </p>
                <br>
                <ul>
                    <li>
                        <div class = "icons">
                            <i class ="fa fa-check"> </i>
                            <p>Best Travel Recommendation</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class = "icons">
                            <i class="fa fa-check"></i>
                            <p>50+ Travel Destinations</p>
                        </div>
                    </li>
                    <li>
                        <div class = "icons">
                            <i class="fa fa-phone-volume"></i>
                            <p>999 999 9999</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="agency-right-side">
                <div class="img">
                    <img src="./image/chennaibeach2.jpeg" alt="chennai beach" />
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- About page end   -->

        <!-- Destination page start   -->
<section id="choose-destination">
    <div class="container">
        <p class="heading-normal-txt">CHOOSE DESTINATION </p>
        <h2 class="headings">POPULAR <span>DESTINATIONS</span></h2>
        <div class="choose-wrapper">
            <div class="img-left-side">
                <div class="lg-img">
                    <a href="jaipur.html" target="_blank" >
                    <img src="./image/HawaMahal.jpeg" alt="Amer fort, jaipur"/>
                    </a>
                    <div class="img-content">
                        <a href="jaipur.html" target="_blank">
                            <h2>Visit Jaipur</h2>
                        </a>
                        
                        <div class="hidden-content">
                            <span><i class="fa fa-location-dot">Jaipur, Rajasthan </i></span> &nbsp;
                            <span><i class="fa fa-user"> 123 visits</i></span> <br>
                            
                        </div>
                    </div>
                    <div class="price-label">
                        <span><i>average cost: &#8377 10k-25k , 3 Days</i></span>
                    </div>
                </div>
            </div>
            <div class="img-right-side">
                <div class="lg-img">
                    <img src="./image/india gate.jpeg" alt="India Gate, Delhi"/>
                    <div class="img-content">
                        <a href="delhi.html" target="_blank">
                            <h2>Visit Delhi</h2>
                        </a>
                        <div class="hidden-content">
                            <span><i class="fa fa-location-dot">Delhi, India </i></span> &nbsp;
                            <span><i class="fa fa-user"> 107 visits</i></span> <br>
                            
                        </div>
                    </div>
                    <div class="price-label">
                        <span><i>average cost: &#8377 8k-15k , 3 Days</i></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row-wise-image">
            <div class="lg-img">
                    <img src="./image/66.jpeg" alt="Vrindavan , Uttar Pradesh"/>
                    <div class="img-content">
                        <h2>Visit Vrindavan</h2>
                        <div class="hidden-content">
                            <span><i class="fa fa-location-dot">Vrindavan ,Uttar Pradesh</i></span> &nbsp;
                            <span><i class="fa fa-user"> 86 visits</i></span> <br>
                            
                        </div>
                    </div>
                    <div class="price-label">
                        <span><i>average cost: &#8377 13k-20k , 3 Days</i></span>
                    </div>
            </div>
        
            <div class="lg-img">
                    <img src="./image/17.jpeg" alt="Dehradun, Uttarakhand"/>
                    <div class="img-content">
                        <h2>Visit Dehradun</h2>
                        <div class="hidden-content">
                            <span><i class="fa fa-location-dot">Dehradun, Uttarakhand</i></span> &nbsp;
                            <span><i class="fa fa-user"> 86 visits</i></span> <br>
                            
                        </div>
                    </div>
                    <div class="price-label">
                        <span><i>average cost: &#8377 16k-30k , 3 Days</i></span>
                    </div>
            </div>
        
            <div class="lg-img">
                    <img src="./image/22.jpeg" alt="Goa , India"/>
                    <div class="img-content">
                        <h2>Visit Goa</h2>
                        <div class="hidden-content">
                            <span><i class="fa fa-location-dot">Goa , India</i></span>
                            <span><i class="fa fa-user"> 109 visits</i></span> <br>
                            
                        </div>
                    </div>
                    <div class="price-label">
                        <span><i>average cost: &#8377 15k-20k , 3 Days</i></span>
                    </div>
            </div>
        </div>
    
    </div>
</section>
        <!-- Destination page end   -->

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="js/swiper.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>