@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --primary-color:maroon ;
    --white-color: #fff;
    --light-gray-color: #ddd;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

html{
    font-size: 16px;
}

/* --------utility classes start -------- */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding:  0 2rem;
    width: 100%;
}

img{
    display: block;
    width: 430px;
    height:250px;
    object-fit: cover;
    border-radius: 10px;
    
}
 a{
    text-decoration: none;

 }
.heading-normal-txt{
    font-size: 1rem ;
    letter-spacing: 6px;
    color: var(--primary-color); 
}

.headings{
    font-size: 3rem;
    font-family: "ubuntu";
    padding-bottom: 2rem;
    letter-spacing: 2px;
}

.headings span{
    color: var(--primary-color);
    font-family: "ubuntu";
    padding: 1rem;
}
.lead{
    font-size: 1.1rem;
    line-height: 2;
    text-align: justify;
}
.primary-btn{
    width:50%;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 4px ;
    color: var(--white-color);
    cursor: pointer;
}
/* ============ utility class end ==================*/
header{
    padding: 1rem 0 ;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width:100% ;
    transition: all 0.3s ease-in-out;
}
header.sticky{
    background: var(--primary-color);
}
.logo img{
    width: 150px;
    height: fit-content;
    object-fit: cover;
    padding: 1rem;
}
nav{
     height: 30px; 
    display: flex ;
    justify-content: space-between;
    align-items:center;
}
nav ul {
    list-style-type: none;
    display: flex;
}
 nav ul li{
    margin: 0 0.9rem;
    position: relative;
 }
nav ul li a{
    color: var(--white-color);
    font-size: 1.1rem;
}

nav ul li::before {
    content:"" ;
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--white-color);
    opacity: 0;
    transition: all 0.3s ease-in;

}
 nav ul li:hover::before{
    opacity: 1;
    width: 100%

 }

 .btn{
    font-size: 1.3rem;
     color: var(--white-color);
     cursor: pointer;
     display: none;
     
 }


/* -------------- main page starts ------------------ */

#choose-desination{
    padding: 6rem 0;
}
.choose-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    
}
.lg-img{
    position: relative;
    transition: all 0.5s ;
    cursor: pointer;
    width: 100%;
    height: 100%;

}

.lg-img:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}
.lg-img:hover{
    transform: scale(1.02);  
}
.img-content{
    position: absolute;
    bottom: 10px;
    

}
.img-content h2{
    padding: 0 1rem;
    color: var(--white-color);
}
.hidden-content{
    padding: 0.5rem 1rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out ;
}
.lg-img:hover .hidden-content{
transform: translateY(0);
}
.price-label{
    size: 15;
    
    color: var(--white-color);
    padding: 0.5rem 1rem;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translateY(-120%);
    transition: all 0.5s ease-in-out;
}
.lg-img:hover .price-label{
    transform: translateY(0);
}
.row-wise-image{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,0.7fr);
    grid-gap: 2rem;
}
/* -------------- main page  ends  ------------ */